.sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .content {
    margin-left: 230px;
    width: calc(100% - 250px);
    padding: 1px 16px;
    height: 90vh;
  }

.table{
    width: auto !important;
}

ul{
    list-style-type: circle;
    li{
        padding: 10px;
    }
}