<div class="sidebar" *ngIf='excelColums.length'>
  <ul>
      <li *ngFor='let col of excelColums;let i=index'  draggable="true" 
      (dragstart)="drag($event)" 
      [attr.id]="'drag' + i" >{{col}}</li>
  </ul>
</div>

<div class="content"  (drop)="drop($event)" 
(dragover)="allowDrop($event)">
 <div class="row mt-4">
   <div class="col-sm-5 offset-3">
    <div class="form-group d-flex">
      <input type="file" (change)='onFileChange($event)'>
    </div>
   </div>
 </div>
 <h4 *ngIf='excelColums.length && !col.length' class="text-center">Drag the columns & Drop Here</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th *ngFor='let colum of col'>{{colum}}</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor='let data of excelData| paginate: { itemsPerPage: 5, currentPage: p }; let i=index'>
            <td *ngFor='let col of col'>{{data[col]}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls *ngIf='col.length' (pageChange)="p = $event"></pagination-controls>
</div>

